<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to editing </h1>
    <form action="/edit" method="post">
    <input type="text" placeholder="previous name" name="previous" value="<%=filename%>" >
   <input type="text" placeholder="new name" name="new" >
   <input type="submit" placeholder="submit">

    </form>
</body>
</html>