<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>

   <a  class="bg-orange-500 inline-block p-2 m-5 rounded-xl"  href="/read"> Read User</a>
    <form class="m-5"  action="/create" method="post">
        <input class="bg-zinc-500" type="text" placeholder="enter name" name="name">
        <input class="bg-zinc-500" type="text" placeholder="enter e mail" name="email">
         <input class="bg-zinc-500" type="text" placeholder="enter imgUrl" name="img">
        <input class="bg-green-500 p-2 rounded-xl " type="submit" value="create user">
    </form>
</body>
</html>
