<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>

  <a class="bg-orange-500 inline-block p-2 m-5 rounded-xl" href="/">
  Back to create User
</a>

<div class="flex flex-wrap">
  <% users.forEach(function(user){ %>

    <div class="bg-gray-300 w-60 m-5 p-4 rounded-xl">
      
      <div class="bg-orange-500 h-40 w-40 mx-auto rounded overflow-hidden">
        <img src="<%= user.img %>" alt="" class="h-full w-full object-cover">
      </div>

      <div class="">
      <h1 class="text-red-500 mt-3 font-bold"><%= user.name %></h1>
      <p class="text-sm"><%= user.email %></p>
       </div>
       <div class="flex justify-between">
        <a href="">edit</a>
        <a href="/delete/<%=user._id%>">delete</a>

    </div>
    </div>
    
  <% }) %>
</div>

   
    
</body>
</html>
