<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
     <form action="/login" method="post" class="py-5">
       
        
        <input class="bg-zinc-400 outline-none m-3 " type="email" placeholder="email" name="email">

        <input class="bg-zinc-400 outline-none m-3 " type="password" placeholder="enter password" name="password">
   
        <input class="bg-blue-800 px-5" value="login" type="submit" >
    </form>
    <a href="/logout"> logout</a>
    
</body>
</html>