<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
</head>
<body>
    <form action="/update/<%=post._id%>" method="post">
        <textarea name="content" ><%=post.content%></textarea>
        <input type="submit">
    </form>
    
</body>
</html>